# Turn off directory browsing for security
Options -Indexes

# Turn on the URL rewriting engine
RewriteEngine On

# --- Rule for front-controller ---

# If the requested filename is NOT a file...
RewriteCond %{REQUEST_FILENAME} !-f

# AND the requested filename is NOT a directory...
RewriteCond %{REQUEST_FILENAME} !-d

# THEN rewrite the request to index.php
# The path to index.php is simpler because we are already in the public directory.
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]